<% flash.each do |message_type, message| %>
  <div class="flash-message <%= message_type %>"><%= message %></div>
<% end %>

<% if @post.errors.any? %>
  <%= @post.errors.count %> error prohibited this post from being saved:
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container text-white">
  <div class="row text-white">
    <div class="col-lg-5 px-5 px-sm-0 mx-auto text-white">
      <%= form_with model: @post do |f| %>
        <h7>店名</h7>
        <br />
        <%= f.text_area :title %>
        <br />
        <h7>内容</h7>
        <br />
        <%= f.text_area :body %>
        <br />
        <%= f.submit "投稿更新", class: "btn btn-success" %>
      <% end %>
      <br />
      <%= link_to "投稿詳細", post_path(@post), class: "btn btn-info" %> |
      <%= link_to "戻る", posts_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>
