<h1 class="center">新規投稿</h1>

<% if @post.errors.any? %>
  <div class="center">
    <%= @post.errors.count %> error prohibited this post from being saved:
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="center">
  <%= form_with model: @post do |f| %>
    <div>
      <h7>店名</h7>
      <%= f.text_area :title %>
    </div>
    <br>
    <div>
      <h7>内容</h7>
      <%= f.text_area :body %>
    </div>
    <br>
    <div class="button-container">
      <%= f.submit 'Create Post', class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<style>
  body {
    color: white;
  }
</style>
