<h1>New post</h1>

<% if @post.errors.any? %>
  <%= @post.errors.count %> error prohibited this post from being saved:
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post do |f| %>
  <div>
    <h7>店名</h7>
    <%= f.text_area :title %>
  </div>
  <br>
  <div>
    <h7>内容</h7>
    <%= f.text_area :body %>
  </div>
  <br>
  <%= f.submit 'Create Post' %>
<% end %>
