<div class='container text-white'>
  <div class='row justify-content-center'>
    <div class='col-md-8 offset-md-1 text-white'>
      <table class='table text-white'>
        <tr>
          <td>
            <%= link_to(@post.user) do %>
              <%= image_tag @post.user.get_profile_image, size: "50x50" %><br>
              <span class="post-user-name"><%= @post.user.name %></span>
            <% end %>
          </td>
          <td><%= @post.created_at.strftime("%Y年%m月%d日") %></td>
          <td><%= @post.title %></td>
          <td><%= @post.body %></td>
          <td id="favorite-<%= @post.id %>">
            <%= render "public/favorites/btn", post: @post %>
          </td>
          <td class="post-comments-counter">
            <%= render "public/post_comments/counter", post: @post %>
          </td>
          <td>閲覧数: <%= @post.view_count %></td>
          <% if @post.user == current_user %>
            <td>
              <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-warning edit_post_#{@post.id}" %> 
            </td>
            <td>
              <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}" %>
            </td>
          <% end %>
        </tr>
      </table>
      <p class="card-title">
        <%= link_to(post_path(@post.id), class: "text-white") do %>
          <strong><i class="fa-solid fa-flag"></i><span> <%= @post.title %></span></strong>
        <% end %>
      </p>
      <p class="card-title">
        <span><i class="fa-solid fa-location-dot"></i> <%= @post.address %></span>
      </p>
      <p class="card-title">説明：<%= @post.body %></p>
      <div class="post-comments-index">
        <%= render "public/post_comments/index", post: @post %>
      </div>
      <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
    </div>
  </div>
</div>
