<div style="text-align: center;">

  <%= form_with model: @user, url: user_registration_path do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name , class: "text-white"%><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email, class: "text-white" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password , class: "text-white"%>
      <% if @minimum_password_length %>
        <em　class="text-white">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "text-white" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "会員登録", class: "btn btn-success btn-sm btn-block　mb-3 sign_up" %>
    </div>
  <% end %>

  <p class="text-white">すでに会員の方は</p><%= render "public/shared/links" %>
</div>
