<div class="container">
  <div class="row">
    <div class="col text-white">
      <h3><%= @user.name %>さんの会員情報編集</h3>
       <%= form_with model: [:admin, @user] do |f| %>
      <table class="table table-borderless text-white">
        <tr>
          <td>会員ID</td>
          <td><%= @user.id %></td>
        </tr>
        
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :name %></td>
        </tr>
       
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email %></td>
          <td></td>
        </tr>
        
        <tr>
          <td>会員ステータス</td>
          <td>
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "有効", { value: :true }  %>
            
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "退会", { value: :false } %>
          </td>
        </tr>
        
        <tr>
          <td></td>
          <td><%= f.submit "変更を保存", class:"btn btn-success" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
