<div class="container　text-white">
  <div class="row　text-white">
    <div class='col-md-10 offset-md-1'>
        <table class="table">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= link_to user.name, admin_user_path(user), class: 'dark-purple-link' %></td>
                <td><%= user.email %></td>
                <td><%= user.user_status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
<%= paginate @users, class: 'pagination' %>
