<div class="container text-white">
  <div class="row text-white">
    <div class="col text-white">
      <h4><%= @user.name %>さんの会員詳細</h4>
      <div class="d-flex align-items-center">
        <table class="table table-borderless text-white">
          <tr>
            <th>会員ID</td>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>氏名</td>
            <td><%= @user.name %></td>
          </tr>
  
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>

          <tr>
            <th>会員ステータス</th>
            <th><%= @user.user_status %></th>
          </tr>

          <tr>
            <td></td>
            <td><%= link_to "編集する", edit_admin_user_path, class:"btn btn-success" %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
