<table class='table text-white'>
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>ユーザーネーム</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <td>フォロー数: <%= user.followings.count %></td>
        <td>フォロワー数: <%= user.followers.count %></td>
        <td><%= render "public/relationships/btn", user: user, options: { class: "" } %></td>
        <td>
          <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
            <%= link_to 'DM開始', chat_path(user.id), class: "btn btn-dark btn-sm" %>
          <% end %>
        </td>
        <td><%= link_to '会員詳細', user, class: "user_#{user.id} btn btn-info btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
