<div class='container px-5 px-sm-0'>
  <div class='row'>
    <table class='table table-hover table-inverse'>
      <h1>Post</h1>

      <% if @user == current_user && !@user.guest_user? %>
        <li><%= link_to "退会する", user_unsubscribe_path(@user), class: "btn btn-danger" %></li>
      <% end %>

      <h4>follows:</h4><%= link_to @user.followings.count, user_followings_path(@user), class: "h4"  %>
      <h4>followers:</h4><%= link_to @user.followers.count, user_followers_path(@user), class: "h4"  %>

      <thead>
        <tr>
          <th>店名</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if user_signed_in? %>
      <% unless @user.guest_user? %>
        <td><%= render "public/relationships/btn", user: @user, options: { class: "" } %></td>
      <% end %>
      <% if @user == current_user %>
        <div class="row">
          <i class="fas fa-user-cog"></i>
          <%= link_to "", edit_user_path(@user), class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@user.id}" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
