           <li>
           <%= link_to root_path,class: "nav-link text-light" do %>
              <i class="fas fa-home"></i> ホーム
            <% end %>
          </li>
            <li>
             <%= link_to homes_about_path,class: "nav-link text-light" do %>
              <i class="fas fa-link"></i> サイトについて
            <% end %>
          </li>
           <li>
             <%= link_to new_user_registration_path,class: "nav-link text-light" do %>
              <i class="fas fa-user-plus"></i> 会員登録
            <% end %>
          </li>
          <li>
               <%= link_to new_user_session_path,class: "nav-link text-light" do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
           <li>
            <%= link_to new_admin_session_path,class: "nav-link text-light" do %>
              <i class="fas fa-sign-in-alt"></i> 管理者
            <% end %>
            
          </li>